[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GWPR.light"]
	path = GWPR.light
	url = https://github.com/michaelchaoli-cpu/gwpr.light
